*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body
{
    height: 100vh;
    width: 100vw;
}
.nav_bar
{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    background-color: black;
    border-bottom: 2px solid red;
}
.nav_bar .logo
{
    width: 30px;
    margin-left: 1rem;
}
.nav_bar .menu
{
    display: flex;
}
.nav_item
{
    padding: 10px 13px;
}
.nav_item a
{
    margin: 1rem;
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.nav_item a:hover
{
    color: red;
}
.nav_item .active
{
    border-bottom: 1px solid red;
    color: red;
}
input[type="checkbox"]
{
    display: none;
}
label[for="hamburger"]
{
    display: none;
}

/* Home Section */
.home_container
{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.home_container .split_1
{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_container .split_1 .user
{
    max-width: 300px;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 0px 0px 5px black;
}
.home_container .split_2
{
    height: 100%;
    width: 50%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

/* Portfolio Section */
.portfolio_container
{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.portfolio_container img
{
    height: 200px;
    width: 300px;
    margin: 1rem;
    border: 2px solid black;
    box-shadow: 0px 0px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contact Section */
.contact_container
{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_container .social_media
{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    flex-direction: column;
    background-color: black;
}
.contact_container .contact_form
{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(30,30,30);
    font-size: 30px;
}
.contact_container .mail
{
    border: 1px solid red;
    text-decoration: none;
    color: red;
    padding: 10px 12px;
    border-radius: 12px;
}
.contact_container .mail:hover
{
    box-shadow: 0px 0px 10px red;
}
.contact_form h1
{
    color: white;
}
.contact_form input
{
    margin: 1rem;
    height: 30px;
    width: 200px;
    background-color: transparent;
    color: white;
    padding: 0.5rem;
    border: 1px solid white;
    outline: none;
    border-radius: 12px;
}
.contact_form button
{
    background-color: transparent;
    padding: 5px 20px;
    color: white;
    border: 1px solid white;
    border-radius: 12px;
    outline: none;
}
.contact_form button:hover
{
    cursor: pointer;
    box-shadow: 0px 0px 5px white;
}
.contact_container a
{
    margin: 1rem;
}
.facebook
{
    color: blue;
}
.facebook:hover
{
    text-shadow: 0px 0px 10px blue;
}
.instagram
{
    color: hotpink;
}
.instagram:hover
{
    text-shadow: 0px 0px 10px hotpink;
}
.twitter
{
    color: cyan;
}
.twitter:hover
{
    text-shadow: 0px 0px 10px cyan;
}
.telegram
{
    color: gray;
}
.telegram:hover
{
    text-shadow: 0px 0px 10px gray;
}
.snapchat
{
    color: yellow;
}
.snapchat:hover
{
    text-shadow: 0px 0px 10px yellow;
}

@media screen and (max-width:800px)
{
    .nav_bar .menu
    {
        display: none;
    }
    label[for="hamburger"]
    {
        display: block;
        font-size: 30px;
        color: white;
        margin-right: 1rem;
    }
    #hamburger:checked ~ .menu
    {
        display: block;
        position: absolute;
        right: 5%;
        top: 13%;
        background-color: black;
        padding: 0.5rem;
        border: 2px solid red;
    }
    #hamburger:checked ~ label[for="hamburger"]
    {
        color: lime;
    }
    .home_container
    {
        flex-direction: column;
    }
    .home_container .split_1
    {
        width: 100%;
    }
    .home_container .split_2
    {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .home_container .split_1 .user
    {
        max-width: 300px;
        width: 50%;
        z-index: -2;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .contact_container
    {
        flex-direction: column;
    }
    .contact_container .social_media
    {
        flex-direction: row;
        width: 100%;
    }
    .contact_container .contact_form
    {
        width: 100%;
    }
}
@media screen and (max-width:250px)
{
    *
    {
        display: none;
    }
}
@media screen and (max-height:300px)
{
    *
    {
        display: none;
    }
}