*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body
{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
.nav_bar
{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    background-color: rgb(30,30,30);
}
.nav_bar .logo
{
    width: 50px;
    margin-left: 1rem;
}
.nav_bar .menu
{
    display: flex;
}
.nav_item
{
    padding: 10px 13px;
}
.nav_item a
{
    margin: 1rem;
    color: white;
    text-decoration: none;
}
.nav_item a:hover
{
    color: red;
}
input[type="checkbox"]
{
    display: none;
}
label[for="hamburger"]
{
    display: none;
}

@media screen and (max-width:800px)
{
    .nav_bar .menu
    {
        display: none;
    }
    label[for="hamburger"]
    {
        display: block;
        font-size: 30px;
        color: white;
        margin-right: 1rem;
    }
    #hamburger:checked ~ .menu
    {
        display: block;
        position: absolute;
        right: 5%;
        top: 13%;
        background-color: rgb(30,30,30);
        padding: 0.5rem;
    }
    .menu_glow
    {
        position: relative;
    }
    .menu_glow::before, .menu_glow::after
    {
        content: '';
        position: absolute;
        top: -3px;
        bottom: -3px;
        left: -3px;
        right: -3px;
        background-image: linear-gradient(45deg,red,transparent,cyan);
        z-index: -1;
    }
}